<div class="core">
<h3><%= @user.full_name %> - complete membership history</h3>

<%= partial './memberships_table', :memberships => @memberships %>

<%= form_for @subscription_membership, :action => '/' do %>
<%= partial './membership_form', :with => @subscription_membership %>
<% end =%>

</div>