/* this file contains default css for the repertoire core admin pages.  
   modify it with over-rides in your project, or don't include it at all
   
   subsidiary pages include their own vital css styling and assets */


.core a:link,
.core a:active,
.core a:visited { font-size: 9pt; text-decoration: none; color: #3875D7;}
.core a:hover   { font-size: 9pt; text-decoration: underline; color: #3875D7;}

.core .clear              { clear: both; }
.core #banner img         { float: right; margin-bottom: 10px; }
.core label               { float: left; clear: both; margin-top: 5px; }
.core input               { float: left; clear: left; }
.core textarea            { float: left; clear: both;}
.core .institution,
.core .byline             { float: left; clear: both; color: gray; }
.core #submit_buttons { margin-top: 8px; margin-bottom: 8px; }

.core #edit_user #roles   { float: right; clear: right; list-style-type: none; border: 0; margin: 0; padding: 0; color: gray; }
.core form                { float:left; clear: left; }

.core                     { font-family: arial; font-size: 10pt; }
.core a:link img, .core a:active img, .core a:visited img, .core a:hover img { display: block; border: 0; padding: 0; margin: 0; }
