<% @css_namespace = 'admin' %>

<% unless @notice.blank? %>
<p class="notice"><%= @notice %></p>
<% end %>
<h3>Forgot your password?</h3>
<p>Please type the email address with which you signed up, and we'll send you a password reset message.</p>
<div id="reset_password_form">
<%= form :action => url(:forgot_password) do %>
<%= text_field :name => "email" %>
<%= submit "Send" %> or <a href="/">Cancel</a></p> 
<% end =%>	
</div>
<p>&nbsp;</p>
<p id="contact">Questions or problems? Contact <a href="mailto:repertoire@mit.edu">repertoire@mit.edu</a></p>
<p>&nbsp;</p>
