<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <% require_css "#{::RepertoireCore.public_path_for(:stylesheet)}/core.css" %>
    <%= include_required_css %>
    <%= include_required_js %>
    <title>Repertoire Default Layout</title>
  </head>
  <body class="core">
	  <div id="container">
  	  <div id="header">
	      <div id="banner">
          <img src="<%= ::RepertoireCore.public_path_for(:image) %>/hyperstudio.jpg" />
        </div>
        <div class="clear"></div>
      </div>
      <div id="content"><%= catch_content :for_layout %></div>
    </div>
  </body>
</html>